.th{
  color:red;
}


.colorrw{

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgb(211, 204, 204) 0%, rrgb(248, 243, 243)25%);
  border-radius: 12px 12px 12px 12px;
}

.textgeneral{
 color: rgb(199, 32, 60)!important;
 box-shadow: 3cqi;

}

.buttonp{
  background-color: rgb(121, 9, 27);
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

th, tr{
  background-color: rgb(199, 32, 60)!important;

}
