<div class="container mt-3">
  <div class="d-flex text-center col-12 justify-content-center">
    <h1 class="textgeneral">PROGRAMAS</h1>
  </div>

  <div class="card-body mt-3">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade active show" id="month" role="tabpanel" aria-labelledby="monthly">
        <div class="row ">
          @for(programa of programas; track $index){
            <div class="col-xl-3 col-sm-6 mb-4">
              <div class="card mb-xl-0 d-flex flex-column h-100 colorrw shadow-sm">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                  <div class="rounded-circle bg-light d-flex align-items-center justify-content-center mb-2" style="width: 60px; height: 60px;">
                    <i class="fas fa-university fa-2x text-secundary"></i>
                  </div>
                  <div class="p-2 text-center">
                    <h5 class="font-size-16">{{ programa.nombre }}</h5>
                    <h5 class="font-size-12 text-primary">Código Programa ({{ programa.idPrograma }})</h5>
                  </div>
                  <div class="mt-auto w-100">
                    <button [routerLink]="['/materias', idEstudiante, programa.idPrograma]" class="buttonp w-100 shadow">
                      <i class="fas fa-sign-in-alt mr-2"></i> Registrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
